    <header>
        <div class="title-container">
            <h1><a href="/">Caleb Kuhlmann</a></h1>
            <div class="accent subtitle">Audio Engineer & Music Producer</div>
        </div>
        <nav id="nav-menu" class="content-nav">
            <span class="nav-item"><a href="/#bio">About</a></span>
            <span class="nav-item"><a href="/#credits">Credits & Services</a></span>
            <span class="nav-item"><a href="/blog/">Dead Rainbow</a></span>
        </nav>
    </header>
