        <section id="section-blog" data-route="blog">
            <h3>Dead Rainbow</h3>
            <div id="blog-posts-container" class="blog-posts">
                <p>Loading the feed...</p>
            </div>
        </section>
