---
layout: layouts/content-page.njk
socialType: article
---
        <article class="blog-entry">
            <header class="blog-entry-header">
                <h1 class="blog-entry-title">{{ title | default('Untitled') }}</h1>
                <time datetime="{{ date | dateToIso }}">{{ date | formatDate }}</time>
                <div>{{ category | default('General') }}</div>
            </header>
            <div class="blog-entry-content">
{{ content | safe }}
            </div>
        </article>
