---
layout: layouts/base.njk
permalink: /
isHomepage: true
---
{% include "components/site-header.njk" %}

<main>
  {% include "sections/about.njk" %}
  {% include "sections/credits.njk" %}
  {% include "sections/blog.njk" %}
  {% include "sections/lessons.njk" %}
</main>
